/*
green : adefd1ff
blue : 00203fff
*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


:root {
  --green-theme: #41F1A1;
  --blue-theme: #00203fff;
}

p {
  font-family: 'Open Sans';
}

.top-header {
  background-image: url(img/header-bg.jpg);
  width: 100%;
  height: 600px;
  

}

.top-header-div {
  padding: 50px;
  padding-top: 100px;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

.top-header-div p {
  font-size: 25px;
}

.bg-green {
  background-color: var(--green-theme);
}

.bg-blue {
  background-color: var(--blue-theme);
}

.btn-primary {
  background-color: var(--blue-theme);
  color: var(--green-theme);
}

.btn-big {
  font-size: 25px;

}

.btn-primary:hover {
  background-color: #fff;
  text-decoration: none;
  color: var(--green-theme);
  border: 2px solid var(--blue-theme);
  transition: ease-in 0.3s;
}




.padding {
  padding: 50px;

}

.padding-xt {
  padding: 80px;
}

p {
  line-height: 2;
}
img {
  width: 100%;
}

.contact-form {
  width: 50%;
  margin: 0 auto;
}

.service-section .card {
  border: none;
  padding: 30px 80px;
  

}

.service-section .card-body {
  padding: 20px;
}

.service-section .card-body:hover {
  -webkit-box-shadow: 1px 1px 30px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 30px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 30px -4px rgba(0, 0, 0, 0.75);
  transition: 0.5s;


}
.review-section .card {
  border: none;
  padding-top: 10%;
}


.blue-line {
  background-color: var(--green-theme);
  height: 3px;
  width: 10%;
}

.portfolio-section {
  padding: 50px 0;
}

.contact-form {
  padding: 50px 0;
}

.green-icon {
  color: var(--green-theme);
}

.sub {
  font-weight: lighter;
  font-size: smaller;
}

.checked {
  color: orange;
}
.review-section .card {
  border: none;
}
.about-section {
  padding: 150px;
}
.about-rounded {
  border-radius: 10px 100px/120px;
}
.review-section img {
  max-width: 200px;
}
.review-rounded {
  border-radius: 200%;
}
@media screen and (max-width: 991px) {
  .service-section {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .service-section .card {
    padding: none;
    
  }

  .service-section .card-body {
    padding: none;
  }
  .review-section img {
    width: 200px;
    max-width: 200px;
  }

  .about-section {
    width: 100%;
    padding: 100px 10px;
  }
  .about-section img {
    max-width: 400px;
  }
  

}
@media screen and (max-width: 420px) {
  .service-section .card {
    padding: 50px 0;
    width: 100%;
  }
  .service-section .card-body {
    padding: 0;
    width: 100%;
  }
  .about-section {
    width: 100%;
    padding: 100px 10px;
  }
  
  .about-section img {
    width: 200px;
  }
  .review-section {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .review-section .card {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .review-section .card-body {
    padding: 0;
    width: 100%;
  }
}
