.top-header {
    height: 600px;
    width: 100%;
    
}
.top-header-div {
    margin-top: 100px;
    padding: 50px;

        animation: fadeIn ease 5s;
        -webkit-animation: fadeIn ease 5s;
        -moz-animation: fadeIn ease 5s;
        -o-animation: fadeIn ease 5s;
        -ms-animation: fadeIn ease 5s;
      }
      
      
      @keyframes fadeIn{
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-moz-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-webkit-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-o-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      @-ms-keyframes fadeIn {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
    

.top-header-div p {
    font-size: 25px;
}
.btn-primary a {
    color: #fff;

    font-size: 25px;
    
}
.btn-primary a:hover {
    text-decoration: none;

}
.padding {
    padding: 50px;

}
.padding-xt {
    padding: 80px;
}
p {
    line-height: 2;
}
.contact-form {
    width: 50%;
    margin:0 auto;
}
footer {
    background: #000;
    color: darkgrey;
    height: 300px;
}
.card {
    border: none;
    padding: 30px 80px;
    
}
.card-body {
    padding: 20px;
}
.card:hover {
  -webkit-box-shadow: 1px 1px 30px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 30px -4px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 30px -4px rgba(0,0,0,0.75);
        transition: 0.5s;
  
}
.blue-line {
    background-color: #0275d8;
    height: 3px;
    width: 10%;
}
.portfolio-section {
  padding: 50px 0;
}
.contact-form {
  padding: 50px 0;
}